//---------------- Section Seven ------------
section.section_eight(id='team')
   .container
      .wrapper.team
         h2.section_title THE TEAM
         .section_description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
         .team_content.block_team.swiper-container
            .swiper-wrapper 
               mixin member_card(imageName, nameFirst, workingPosition, description, skill_1, skill_2, skill_3, skill_number_1, skill_number_2, skill_number_3)
                  .block_team_card.card_member.swiper-slide
                     .member_logo
                        img(src="img/section_eight/#{imageName}.jpg" alt="member_logo")
                     .member_info
                        .member_name.member_item #{nameFirst}
                        .member_position.member_item #{workingPosition}
                        .member_description.member_item #{description}
                        .member_skills.member_item
                           .skill_block.skill
                              .skill_text #{skill_1} 
                              .skill_number #{skill_number_1} 
                           .container_rang
                              .skill_rang.branding
                           .skill_block.skill
                              .skill_text #{skill_2} 
                              .skill_number #{skill_number_2}
                           .container_rang
                              .skill_rang.codding
                           .skill_block.skill
                              .skill_text #{skill_3} 
                              .skill_number #{skill_number_3}
                           .container_rang
                              .skill_rang.interface
               +member_card("1", "Abdullah Noman", "Creative Director, Code Cafe", "At vero eos et accusamus et iusto odio dignissimos ducimus", "BRANDING","Web Design", "User Interface", "80%", "65%", "75%")
               +member_card("2", "Ibrahim Huttub", "Front-end developer, Code Cafe", "At vero eos et accusamus et iusto odio dignissimos ducimus", "BRANDING","Web Design", "User Interface", "90%", "70%", "85%")
               +member_card("3", "john Wick", "FullStack Developer, Code Cafe", "At vero eos et accusamus et iusto odio dignissimos ducimus", "BRANDING","Codding", "User Interface", "70%", "90%", "50%")
               +member_card("4", "Ihor Hajdyk", "Designer, Code Cafe", "At vero eos et accusamus et iusto odio dignissimos ducimus", "BRANDING","Web Design", "User Interface", "65%", "75%", "90%")
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev

